joblib==0.13.2
jupyterlab==1.0.2
matplotlib==3.0.2
networkx==2.2
numpy==1.17.2
Pillow==8.1.1
python-louvain==0.13
scikit-fuzzy==0.4.1
scikit-image==0.16.2
scikit-learn==0.21.2
scipy==1.2.1
seaborn==0.9.0
sympy==1.4
tqdm==4.40.2